body {
    padding: 0 25px;
    max-width: 1140px;
    margin: 0 auto;
}
.header-text-wrapper::before {
    content: '';
    width: 50px;
    height: 2px;
    margin-top: 5px;
    background-color: #85b73c;
    display: block;
    float: left;
    text-align: center;
}
.header-text{
   width: fit-content;
   margin-left: 60px;
   color:  #85b73c;;

}
.curier-delivery-main-wrapper {
    display: flex;
    justify-content: space-between;
    
}

.delivery-text {
    line-height: 40px;
}


.truck-image-wrapper {
    margin-left: 30px;
}
.truck-image-wrapper {
    margin: 70px 0;
    
}
.truck-image {
    width: 270px;
    height: 250px;

}
.icon-wrapper {
   width: 40px;
   height: 40px;
   background-color: blue;
   margin: 40px 20px;
   border-radius: 100px;
   background-image: url(../image/letter-icon.svg);
   background-repeat: no-repeat;
   background-position: center; 
}
.svg {
    width: 100px;
    height: 100px;
    background-color: blue;
}
.child-icon-wrapper{
    max-width: 400px;
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
}
.icon-wrapper-text, .second-icon-wrapper-text {
   max-width: 300px;
}
.second-icon-wrapper-text {
    text-align: center;
}
.second-icon-wrapper {
    display: flex;
    justify-content: space-around;
   
}
.icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-icon-wrappper {
    display: flex;
    justify-content: space-around;
}